.btn {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.2rem 0;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 100%;
  max-width: 167px;
}

.btn__primary {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.btn__secondary {
  background-color: var(--color-white);
  color: var(--primary-color);
}

.btn__outline {
  border-color: var(--text-color);
  background-color: transparent;
  color: var(--text-color);
}

.btn__block {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
