.select__wrapper {
  display: flex;
  align-items: center;
}
.select__wrapper > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #edf2f7;
  margin-right: 1.4rem;
}
select {
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid transparent;
  background-image: url("../../assets/icons/chevron-down-icon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  padding-right: 2rem;
  color: var(--text-color-2);
}
