.searchbar {
  display: flex;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  height: 4rem;
  overflow: hidden;
  align-items: center;
  padding: 0 1.6rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color-2);
}

.searchbar input {
  flex-basis: 100%;
  height: 100%;
  border: 1px solid transparent;
  background-color: transparent;
  outline: 1px solid transparent;
  font-size: 1.4rem;
  font-weight: 400;
}

.searchbar input::placeholder {
  color: #6f798b;
}
